.examcontrol{
    height: 100vh;
    background: rgb(207, 244, 255);
    display: flex;
    flex-direction: column;
}
.head{
    background: #fff ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.head img{
    padding: 0;
    margin: 0 !important;
}
.body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.question{
    border: 2px solid rgb(119, 115, 115);
    width: 65vw;
    height: 70vh;
    padding: 4rem;
}

.choseField{
    border: 2px solid rgb(124, 123, 123);
    width: 30vw;
    height: 60vh;
}
.footer{
    display: flex;
    margin: 0 auto;
    text-align: center;
    width: 95vw;
    height: 10vh;
    justify-content: flex-end;
    align-items: center;
}
.footer button{
    box-shadow: none;
    padding: 0.5rem 1rem;
    margin: 1rem;
}
.btn{
    outline: none;
    box-shadow: none;  
    outline: none ;
}
.btn:focus{
    box-shadow: none;  
    outline: none;
}
.choseField{
    padding: 0rem 2rem;
}
.questionSec{
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}
.subjects{
    margin-top: 1rem;
    align-items: center;
}
.questionChose{
    padding:5px 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}




/* CurrentQuestion */
.options{
    display: flex;
    flex-direction: column;
}
.option{
    margin-top: 1rem;
    align-items: center;
    
}
.option input{
margin-right: 1rem;
}