.App{
  background-color: #d0dbe2;
  font-family: 'Exo 2', sans-serif;width: 100%;
 } 
 .btn:focus {
     outline: none;
     box-shadow: none;
   }
   .loader{
     height: 100vh;
     width: 100%;
     position:fixed;
     top: 50%; 
     left: 50%;
     transform: translate(-50%,-50%);
     text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;
   }